<div class="pos">
  <div class="main-title">
    <h1 id="h-title">Чувство Ритма</h1>
    <h2>онлайн-тренажёр по развитию чувства ритма</h2>
  </div>

  <div class="main_content">
    <h1 class="content-title">Что такое чувство ритма?</h1>
    <p class="content-p">&nbsp&nbsp&nbsp&nbsp&nbsp&nbspРитм в общем смысле — это равномерное чередование элементов. Он есть в музыке, живописи, литературе, архитектуре. Любое произведение искусства пронизано неким единым движением, и чувство ритма — способность это движение уловить.</br>

    &nbsp&nbsp&nbsp&nbsp&nbsp&nbspПочему мы чувствуем ритмы? Потому что мы уже живем с ними. По мнению биологов, ритм — это фундаментальное свойство природы, которому подчинены все живые существа. Человек — не исключение. И чередование сильных и слабых долей в музыке для нас так же естественно, как чередование сильных и слабых ударов сердца. Или — вдох-выдох. Мы чувствуем музыкальный «пульс» просто потому, что мы — живые.</br>
    
    </br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    Чувство ритма воспитывается, даже если кажется, что вы совсем никуда «не попадаете» в танцах и музыке, потому что ритм встроен в наш мозг. Это удивительная биомашина, где миллионы нейронов взаимодействуют друг с другом циклично, а значит — ритмично, и эти внутренние ритмы подстраиваются под внешние. Чем чаще вы делаете развивающие упражнения, тем быстрее определенные нейроконтуры в мозгу «привыкнут» к этому ритму. </p>
    

  </div>
</div>
