<h1>Лабораторная работа №12</h1>
<p>Сессии. Выполнение авторизации. Интеграционные тесты.</p></br>

<h2>Список пользователей</h2>
<div class="table_pos1">
<table class="table_users">
  <tbody>
    <% @list_users.length.times do |i| %>
    <tr>
      <td><%= @list_users[i].id %></td>
      <td><%= @list_users[i].email %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
