<h1>Задание</h1>


<div class="form">
<%= form_with url: form_path, method: :get do |form| %>
    <%= form.label "Введите число n: " %>
    <%= form.text_field :numbers, value: "100" %>
    <br/> 
    <div class="pos"><%= form.submit "Рассчитать" %></div>
    <% end %>
</div>
