<div class="pos1">
  <div class="main_content">
    <h1 class="content-title">Инструкция</h1>
    <p class="content-p">&nbsp&nbsp&nbsp 📌 Выберите либо 1 из 4 длительностей (1/1, 1/2, 1/3, 1/4), либо уровень повышенной сложности - 'Hard'</br>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp * Длительности A/B означает <strong> кликнуть B раз в A удар(-ов) метронома</strong>;<br>
    </br>&nbsp&nbsp&nbsp 📌 Кликать указанное количество раз в один удар метронома (чтобы попасть в рейтинг, кликайте более 5 секунд);
    </br></br>&nbsp&nbsp&nbsp 📌 Нажмите STOP, когда закончите (первый и последний клик не учитывается при анализе) => появится результат анализа;
    </br></br>&nbsp&nbsp&nbsp 📌 При выборе уровня 'HARD' нужно руководствоваться табличкой справа;
    </br></br>&nbsp&nbsp&nbsp 📌 Для просмотра своей успеваемости нажмите 'PROGRESS';
    </br></br>&nbsp&nbsp&nbsp 📌 Чтобы начать тренироваться с нуля - нажмите 'очистить⚠';
    </p>
  </div>
</div>