/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.main-menu {
  font-size: 20px;
  padding-left: 3%;
  padding-top: 13px;
  vertical-align: middle; 
}
header{
	width: 100%;
	background: #D8E3AB;
  height: 50px;
}
.pos {
  padding-top: 50px;
  text-align: center;
}
.actions {
  padding-top: 15px;
}
.log-out {
  padding-right: 65%;
  float: right;
}
.table_pos {
  padding-top: 10px;
  padding-left: 42%;
}
table {
  width: 300px;
  font-size: 30px;
  text-align: center;
  border-collapse: collapse;
}
td {
  border: 3px solid purple;
}
.table_pos1 {
  padding-top: 10px;
  padding-left: 33%;
}
.table_users {
  width: 50%;
  /* padding-left: 40%; */
}
